@import '../../styles/variables';

.productList {
  @include widthHeightSort(1082px, null);
  margin-left: 40px;

  .products {
    @include widthHeightSort(1050px, null);
    display: flex;
    @include flexSort(null, center, null);
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
  }
}
